<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TheraCan - Home</title>

    <!-- TailwindCSS CDN Link -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- You can include any other custom stylesheets here -->
    <!-- Example: <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->

    <!-- Favicon (optional) -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>

{% include 'navbar.html' %}

{% include 'hero_section.html' %}

<!-- Step Sections (optional) -->
<!-- Add Step Sections content here -->
     
{% include 'pricing.html' %}

{% include 'footer.html' %}
</body>
</html>