body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.bg-olive-50 {
    background-color: #faf5e4;
}

.bg-olive-100 {
    background-color: #e6e4d7;
}

.text-olive-800 {
    color: #514d3d;
}

.text-olive-600 {
    color: #5e593d;
}

.border-olive-300 {
    border-color: #bfbdb2;
}

.focus\:ring-olive-500:focus {
    outline: none;
    border-color: #5b5b2e;
    box-shadow: 0 0 0 3px rgba(91, 91, 46, 0.3);
}

.bg-green-800:hover {
    background-color: #365734;
}
